.node circle {
  fill: #70A896;
  stroke: #70A896;
  stroke-width: 3px;
}
.node text {
  font: 12px sans-serif; 
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


.coAuthorDiagram{
  max-width: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: #E9E9E9;
  border-radius: 12px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 30px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
}
