form{
  width: 100%;
  /* height: 60px; */
  justify-content: center;
  display: flex;
  padding: 25px;
}

.header{
  background-color: #E9E9E9;
}

input{
  font-family: "Lato";
  font-size: 25px;
  border: none;
  border-bottom: 5px solid grey;
  color: grey;
  align-self: center;
  width: 50%;
  max-width: 500px;
  background: transparent;
  /* margin: 30px; */
  /* width: 100%; */
  padding: 0px 12px;
}

input::placeholder {
  color: grey;
}

textarea:focus, input:focus{
  outline: none;
}
