#topicChart {
  width: 1000px;
  height: 570px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

#topicDiagramContainer{
  width: 1000px;
  border-style: solid;
  border-width: 5px;
  border-radius: 12px;
  border-color: #E9E9E9;
  height: 710px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 30px;
    height: 14px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#topicDiagramContainer text {
  font: 15px sans-serif;
}
